h2,
h1 {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    font-weight: 700;
    color: #E76B04
}



h3 {
    font-style: italic;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    color: #DCBF01
}

image {
    border: 2px solid black;
}

.infobox {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    border: 2px solid black;
    color: #161312;
}

p {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    color: #161312;
}