/*
Honey Yellow: F6AE2D
Granny Smith Apple: B3D89C
Brunswick Green: 29524A
Deep Space Sparkle: 476A6F
Burnt Orange: BC5D2E
font-family: 'Averia Serif Libre', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Scope One', serif;
*/

body{
    background: #29524A;
color: #BC5D2E;
font-family: 'Scope One', serif;
}

h1{
    font-family: 'Nunito Sans', sans-serif;
    color: #29524A;
}

.about img {
    box-shadow: 2em 2em white;
    width: 400px;
    height: 500px;
}

.clips img {
max-height: 400px;
    margin: 0 0 1em 0;
}

main {
    margin: 3em 0 0 0;
}

* {
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
    color: black;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
