/*
Honey Yellow: F6AE2D
Granny Smith Apple: B3D89C
Brunswick Green: 29524A
Deep Space Sparkle: 476A6F
Burnt Orange: BC5D2E
font-family: 'Averia Serif Libre', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Scope One', serif;
*/

body{
    background: beige;
color: #BC5D2E;
font-family: 'Scope One', serif;
}

h1{
    font-family: 'Nunito Sans', sans-serif;
    color: #29524A;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
}

@media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
