/*
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
colors: #FEDC3D (Butter), #000000 (Black), #01ABAA (Azure), #FEA680 (Peach)
*/

p {
  font-family: 'Lato', sans-serif;
  color:#000000
}


h1 {
  font-family:'Playfair Display', serif ;
  color: #000000
}

h3{
  font-size: 20px;
  justify-content: center;
}

img {
  max-width: 100%
}

.container-intro {
    position: relative;
    text-align: center;
    color: #f2f2f2;
    font-family:'Playfair Display', serif ;
    font-size: small;
    align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.container {
  position: relative;
  text-align: center;
  color: #000000;
  font-family:'Playfair Display', serif ;
}

.title {
font-size: 21px;
font-family: 'Playfair Display', serif;
border-color: #000000;
}

main {
  margin: 3em 0 0 0;
}

.centered {
    font-family:'Playfair Display', serif ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: 'Lato', sans-serif;
    background-color: #000000;
    color:#f2f2f2;
}

.container-fluid {
  align-items: center;
  justify-content: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    max-width: 550px;
  }

  .graphic-1 {
    background-color: #FEA680;
    margin: 20px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.graphic-2 {
  background-color: #01ABAA ;
  margin: 20px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.graphic-3 {
  background-color: #FEA680;
  margin: 20px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.text-a {
  padding-left: 20px;
}

  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
