/*
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
colors: #FEDC3D (Butter), #000000 (Black), #01ABAA (Azure), #FEA680 (Peach)
*/

p {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family:'Playfair Display', serif ;
}

.container {
    position: relative;
    text-align: center;
    color: #000000;
    font-family:'Playfair Display', serif ;
}

.title {
font-size: 150px;
font-family: 'Playfair Display', serif;
border-color: #f2f2f2;
}

main {
  margin: 3em 0 0 0;
}

.centered {
    font-family:'Playfair Display', serif ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: 'Lato', sans-serif;
    background-color: #FEDC3D;
    color: #000000;
}

.container-fluid {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    max-width: 550px;
    text-align: center;
  }

  .graphic-1 {
    background-color: #FEA680;
    margin: 20px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.graphic-2 {
  background-color: #01ABAA ;
  margin: 20px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}

.graphic-3 {
  background-color: #FEA680;
  margin: 20px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.text-a {
  text-align:right;
}

  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
